<!DOCTYPE html>
<html>
  <head>
    <title>JeuWebGlProjet</title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!--Scripts files-->
    <script src="/javascripts/core/lib/jquery.js"></script>
    <script src="/javascripts/core/lib/underscore.js"></script>
    <script src="/javascripts/core/init.js"></script>
  </head>
  <body>
    <canvas id="mainFrame"></canvas>
  </body>
</html>
