<!DOCTYPE html>
<html>
    <head>
    <title>JeuWebGlProjet</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/style.css">



    <!-- prefetching textures ans mesh for speed -->
    <link rel="prefetch" href="/javascripts/Maps/bgd2.js" />
    <link rel="prefetch" href="/javascripts/Maps/cube1.png" />
    <link rel="prefetch" href="/javascripts/Maps/particle.png" />


    <!--Scripts files-->
    <script type="text/javascript" src="/javascripts/core/lib/require.js"></script>
    <script type="text/javascript">
var DC = DC || {
        internal: {}
};
    require.config({
    baseUrl: '/javascripts/',
    paths: {
        jquery: 'core/lib/jquery',
        socket: 'core/lib/socket.io.min',
        keydrown: 'core/lib/keydrown',
        three:'core/lib/three.min',
      //  clock:'core/lib/three.clock',
        pointerlockcontrols:'core/lib/three.pointerlockcontrols',
        physi: 'core/lib/physi',
        orbit: 'core/lib/orbitcontrol',
        resize:'core/lib/threex.windowresize',
        ath:'game/Ath',
        map:'game/Map',
        personnage:'game/Personnage',
        player:'game/Player',
        bullet:'game/Bullet',
        game:'game/Game',
        biome:'game/Biome',
        audiojs:'core/lib/audio5.min'
    },
    shim: {
        three:{
            deps: [],
            exports: 'THREE'
        },
        audiojs:{
            exports:'Audio5js'
        },
        pointerlockcontrols:{
            deps:['three'],
            exports:'THREE.PointerLockControls'
        },
        resize:{
            deps:['three'],
            exports:'THREEx.WindowResize'
        },
        physi: {
            deps:['three'],
            exports : 'Physijs'
        },
        orbit:['three'],
        keydrown:['jquery'],
        orbit:['three'],
        ath:{
            deps:[''],
            exports:'window.Ath'
        },
        map:{
            deps:['three'],
            exports:'window.Map'
        },
        personnage:{
            deps:['three','ath'],
            exports:'window.Personnage'
        },
         player:{
            deps:['three','ath'],
            exports:'window.Player'
        },
        bullet:{
            deps:['three','ath'],
            exports:'window.Bullet'
        },
        biome:{
            deps:['personnage','player'],
            exports:'window.Biome'
        },

        game:{
            deps:['three','ath','map','personnage','player','biome','socket','bullet'],
            exports:'window.Game'
        }
    }
});
    </script>
    <script async type="text/javascript" src='/javascripts/game/GameLoop.js'></script>
  </head>
  <body id="mainContainer">

    <div id="blocker">
        <div class="reticule">+</div>
        <div class="arme1"><img src="/assets/2d/arme1.png" align = "right"/></div>
          <div class="menu"  style="display:none">
            <ul>
                <li><a href="">Jouer</a></li>
                <li><a href="">Options</a></li>
                <li><a href="">Quitter</a></li>
                <li><a href=""></a></li>
            </ul>
        </div>
    </div>
    <div id="instructions"></div>
    <div class="players">
      <ul class="playerlist"></ul>
    </div>
    <div class="overlay">
        <ul class="level">
            <li><a href="#" id="space">Space</a></li>
            <li><a href="#" id="ship">Ship</a></li>
        </ul>

    </div>
     <div class="ath">
        <div class="values">
            <div class="athlife">
                <font></font>
                <progress class="life" value="" max="100"></progress>
            </div>
            <div class="athammo">
                <font>100</font>
            </div>
        </div>
        </div>




  </body>
</html>
