<!DOCTYPE html>
<html>
    <head>
    <title>JeuWebGlProjet</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/style.css">



    <!-- prefetching textures ans mesh for speed -->
    <link rel="prefetch" href="/javascripts/Maps/bgd.js" />
    <link rel="prefetch" href="/javascripts/Maps/cube1.png" />
    <link rel="prefetch" href="/javascripts/Maps/particle.png" />

    <!--Scripts files-->
    <script type="text/javascript" src="/javascripts/core/lib/require.js"></script>
    <script type="text/javascript">

    require.config({
    baseUrl: '/javascripts/core/lib/',
    paths: {
        jquery: 'jquery',
        socket: 'socket.io.min',
        keydrown: 'keydrown',
        three:'three.min',
        physi: 'physi',
        orbit: 'orbitcontrol'
    },
    shim: {
        three:{
            deps: [],
            exports: 'THREE'
        },
        physi: {
            deps:['three'],
            exports : 'Physijs'
        },
         orbit:['three'],
        keydrown:['jquery'],
        orbit:['three']
    }
});
    </script>


    <script  type="text/javascript" src="/javascripts/core/lib/init.js"></script>
    <script  type="text/javascript" src="/javascripts/game/Biome.js"></script>
    <script  type="text/javascript" src="/javascripts/game/Ath.js"></script>
    <script  type="text/javascript" src="/javascripts/game/Personnage.js"></script>
    <script  type="text/javascript" src="/javascripts/game/Game.js"></script>
    <script  type="text/javascript" src="/javascripts/game/Keyboard.js"></script>
    <script  type="text/javascript" src="/javascripts/game/Map.js"></script>
    <script  type="text/javascript" src='/javascripts/game/GameLoop.js'></script>

  </head>
  <body id="mainContainer">
    <div class="players">
      <ul class="playerlist"></ul>
    </div>
    <div class="overlay">
        <ul class="level">
            <li><a href="#" id="space">Space</a></li>
            <li><a href="#" id="ship">Ship</a></li>
        </ul>

    </div>
     <div class="ath">
        <div class="values">
            <div class="athlife">
                <font></font>
                <progress class="life" value="" max="100"></progress>
            </div>
            <div class="athammo">
                <font>100</font>
            </div>
        </div>
        </div>
  </body>
</html>
