<!DOCTYPE html>
<html>
  <head>
    <title>JeuWebGlProjet</title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>JeuWebGlProjet</h1>
    <p>Welcome to JeuWebGlProjet</p>
  </body>
</html>
