<!DOCTYPE html>
<html>
  <head>
    <title>JeuWebGlProjet</title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!--Scripts files-->
    <script src="/javascripts/core/lib/jquery.js"></script>
    <script src="/javascripts/core/lib/socket.io.min.js"></script>
    <script src="/javascripts/core/lib/keydrown.js"></script>
    <script src="/javascripts/core/Keyboard.js"></script>
    <script src="/javascripts/core/lib/Three/Three.js"></script>
    <script src="/javascripts/core/init.js"></script>
  </head>
  <body id="mainContainer">
    <canvas id="mainFrame"></canvas>
  </body>
</html>
