<!DOCTYPE html>
<html>
    <head>
    <title>JeuWebGlProjet</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/javascripts/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/javascripts/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">



    <!-- prefetching textures ans mesh for speed -->
    <link rel="prefetch" href="/javascripts/Maps/bgd2.js" />
    <link rel="prefetch" href="/javascripts/Maps/ship.js" />
    <link rel="prefetch" href="/javascripts/Maps/asteroid.js" />
    <link rel="prefetch" href="/javascripts/Maps/cube1.png" />
    <link rel="prefetch" href="/javascripts/Maps/particle.png" />


    <!--Scripts files-->
    <script type="text/javascript" src="/javascripts/core/lib/require.js"></script>
    <script type="text/javascript">
var DC = DC || {
        internal: {}
};
    require.config({
    baseUrl: '/javascripts/',
    paths: {
        jquery: 'core/lib/jquery',
        bootstrap:'bootstrap/js/bootstrap.min',
        socket: 'core/lib/socket.io.min',
        keydrown: 'core/lib/keydrown',
        three:'core/lib/three.min',
      //  clock:'core/lib/three.clock',
        pointerlockcontrols:'core/lib/three.pointerlockcontrols',
        physi: 'core/lib/physi',
        orbit: 'core/lib/orbitcontrol',
        resize:'core/lib/threex.windowresize',
        ath:'game/Ath',
        map:'game/Map',
        personnage:'game/Personnage',
        player:'game/Player',
        bullet:'game/Bullet',
        game:'game/Game',
        biome:'game/Biome',
        audiojs:'core/lib/audio5.min'
    },
    shim: {
        three:{
            deps: [],
            exports: 'THREE'
        },
        audiojs:{
            exports:'Audio5js'
        },
        bootstrap:{
            deps:['jquery']
        },
        pointerlockcontrols:{
            deps:['three','bootstrap'],
            exports:'THREE.FirstPersonControls'
        },
        resize:{
            deps:['three'],
            exports:'THREEx.WindowResize'
        },
        physi: {
            deps:['three'],
            exports : 'Physijs'
        },
        orbit:['three'],
        keydrown:['jquery'],
        orbit:['three'],
        ath:{
            deps:[''],
            exports:'window.Ath'
        },
        map:{
            deps:['three'],
            exports:'window.Map'
        },
        personnage:{
            deps:['three','ath'],
            exports:'window.Personnage'
        },
         player:{
            deps:['three','ath', 'bullet'],
            exports:'window.Player'
        },
        bullet:{
            deps:['three','ath'],
            exports:'window.Bullet'
        },
        biome:{
            deps:['personnage','player'],
            exports:'window.Biome'
        },

        game:{
            deps:['three','ath','map','personnage','player','biome','socket','bullet'],
            exports:'window.Game'
        }
    }
});
    </script>
    <script async type="text/javascript" src='/javascripts/game/GameLoop.js'></script>
  </head>
  <body id="mainContainer">

    <div id="blocker">
        <div class="reticule">+</div>
        <div class="arme1"><img src="/assets/2d/arme1.png" align = "right"/></div>
          <div class="menu"  style="display:none">
            <ul>
                <li><a href="">Jouer</a></li>
                <li><a href="">Options</a></li>
                <li><a href="">Quitter</a></li>
                <li><a href=""></a></li>
            </ul>
        </div>
    </div>
    <div id="instructions"></div>
    <div class="players">
      <ul class="playerlist"></ul>
    </div>
    <div class="overlay">
        <ul class="level">
            <li><a href="#" id="space">Space</a></li>
            <li><a href="#" id="ship">Ship</a></li>
        </ul>

    </div>
     <div class="ath">
        <div class="values">
            <div class="athlife">
                <font></font>
                <progress class="life" value="" max="100"></progress>
            </div>
            <div class="athammo">
                <font></font>
                <progress class="ammo" value="" max="100"></progress>
            </div>
        </div>
        </div>



<!-- MODALS -->
<div class="modal fade" id="menuModal" tabindex="-1" role="dialog" aria-labelledby="menuModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="menuModal">Menu de jeu</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
    <div class="checkbox">
    <label>
      <input type="checkbox"> Mode plein écran
    </label>
  </div>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember me
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Sign in</button>
    </div>
  </div>
</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

  </body>
</html>
