@font-face {
    font-weight: normal;
    font-style: normal;
    font-family:'ds';
    src: url('./DeadSpace.eot');
    src: url('./DeadSpace.eot?#iefix') format('embedded-opentype'), url('./DeadSpace.ttf') format('truetype');
}
body {
	overflow: hidden;
	margin:0 ;
	padding: 0;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}
#mainFrame{
	position: absolute;
	width:100%;
	height: 100%;
	background:yellow;
}
.players{
	position:absolute;
	top:0;
	left:0;
	width:100px;
	color : green;
}

.overlay{
	position: absolute;
	z-index: 100;
	width:100%;
	background: none;
	text-align: center;
}
.overlay .level{
	list-style: none;
}
.ath{
	position: absolute;
	bottom: 0;
	z-index: 10000;
	width: 100%;
}
.ath .values {
	position: relative;
}
.ath .athlife{
	position: absolute;
	right:20px;
	bottom: 10px;
	float: right;
}


.ath .athammo{
	position: absolute;
	bottom: 20px;
	left:20px;
	float: left;
	color:rgba(59,238,255,.9);
}
.ath font{
	font-size: 30px;
	font-family: Helvetica;
}
.ath .athammo font{
		box-shadow: 0 1px 0px 0 rgba(59,238,255,.2);

}



.ath .athlife progress {
	display: block;
	margin: 20px auto;
	width: 400px;
	height: 14px;
	border: none;
	/* Important Thing */
	-webkit-appearance: none;
}
.ath .athlife font{
	position: absolute;
	right: 0;
	bottom: 40px;
	float:right;
	color :rgba(59,238,255,.9);
}
/* All good till now. Now we'll style the background */
.ath .athlife progress::-webkit-progress-bar {
	padding: 4px;
	height: 20px;
	border : 1px solid rgba(59,238,255,.2);
	border-radius: 6px;
	background: rgba(59,238,255,.2);
	box-shadow: 0 1px 0px 0 rgba(59,238,255,.2);
}

/* Now the value part */
.ath .athlife progress::-webkit-progress-value {
	border-radius: 6px;
	background:rgba(59,238,255,.9);
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
}
#blocker{
	position: absolute;
	z-index: 10000;
	display: :none;
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,.5);
	text-align: center;
}
#blocker.hidden{
	background:none;
}
.reticule{
	display: inline-block;
	margin-top:25%;
	width: 18px;
	height:18px;
	border:1px  solid #4EDCEE;
	border-radius: 100%;
	background:rgba(0,0,0,.1);
	color:#4EDCEE;
	text-align: center;
	text-shadow: 0px 0px 5px black;
	font-size: 16px;
	line-height: 16px;
}

.menu{
	position: absolute;
	top:42%;
	left: 45%;
	z-index: 100000000000;
	padding:20px;
	background:#4EDCEE;
}
.menu ul li a{

	background:navy;
	color:yellow;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'ds';
}
#game-opt {
	position: absolute;
	top:0;
	left:0;
	z-index: 100000;
	width: 100%;
	height: 100%;
	background: url('/assets/2d/milky.jpg') center center repeat;
	-webkit-animation: scrollbgd 240s 0s linear infinite;
}
@-webkit-keyframes scrollbgd{
	from{
		background-position: -100%;
	}
	to{
		background-position: 100%;
	}
}
#game-opt .container {
	margin-top:50px;
}

#game-opt .container h1{
	display: block;
	margin: 0 auto;
	width:600px;
	color:#4BD9EC;
	text-shadow:0px 0px 0px #4BD9EC;
	font-size: 60px;
	-webkit-animation:  glow 3s 0s linear infinite;
	margin-bottom: 20px;
}
.btn{
	font-size: 18px;
	font-family: 'ds';
}
@-webkit-keyframes glow {
0% {
   text-shadow: 1px 0px 0px #4BD9EC;
	-webkit-stroke-width: 0px;
   -webkit-stroke-color: #4BD9EC;
   -webkit-fill-color: #4BD9EC;
}
50% {
   text-shadow: 0px 0px 120px #4BD9EC;
-webkit-stroke-width: 10px;
   -webkit-stroke-color: #4BD9EC;
   -webkit-fill-color: #4BD9EC;
 }
 100%{
   text-shadow: 1px 0px 0px #4BD9EC;
	-webkit-stroke-width: 0px;
   -webkit-stroke-color: #4BD9EC;
   -webkit-fill-color: #4BD9EC;
}
}
.modal{
	z-index: 1000000;
}
.modal-dialog, .modal-content{
	border-radius:6px;
	background: #232B3C;
}
.modal-header,.modal-footer{
	border:0;
}
.modal-content{
	background: none;
}
.modal-dialog h4{
	color: white;
	font-size:20px;
}
.names{
	position: absolute;
	bottom:0px;
	width: 100%;
}
.names ul li {
	color:white;
	font-family: 'ds';
}
.athrenderer{
	position: absolute;
	top:0;
	left:0;
	z-index: 100000;
	display: none;
	width: 100%;
	height: 100%;
}
.letter-broken{
	position: relative;
}

.letter-broken:first-child{
}
.letter-broken:last-child{
	-webkit-animation:broken 1.5s 0s linear infinite;
}
@-webkit-keyframes broken {
	0%{
		color:#4BD9EC;
		}
	100%{
		border:0;
		color:rgba(0,0,0,.3);
		text-shadow: none;
	}
}

#game-opt .container{
	z-index: 2;
}

img.hombre{
	position: absolute;
	top:0;
	left: 0%;
	-webkit-transform:scale(1.3);

	z-index: -1;
	-webkit-animation: hombre 30s 0s ease-in infinite;
}
img.ship{
position: absolute;
bottom: 0;
-webkit-transform:scale(.7);
right: 0;
z-index: -2;
-webkit-animation: ship 30s 0s ease-in infinite;
}

@-webkit-keyframes hombre{
	0%{
		top:0px;
		left:0px;
		-webkit-transform:rotate(0deg);
						-webkit-transform:scale(1.3);

	}
	50%{
		top:10%;
		left:20%;
				-webkit-transform:rotate(10deg);
				-webkit-transform:scale(.7);


	}
	100%{
	top:0px;
	left: 0px;
			-webkit-transform:rotate(0deg);
						-webkit-transform:scale(1.3);
	}
}

@-webkit-keyframes ship{
	0%{
		bottom:0px;
			right:0px;
					-webkit-transform:scale(.7);

	}
	50%{
		bottom:10%;
		right:15%;
		-webkit-transform:scale(1.2);

	}
	100%{
	bottom:0px;
		right: 0px;
				-webkit-transform:scale(.7);

	}
}
#goals{
	position: absolute;
	right:20px;
	color:#E0B300;
	top:200px;
	width:200px;
	-webkit-animation:glowGoals 2s 0s linear infinite;
}
@-webkit-keyframes glowGoals {
	0% {
		text-shadow:0px 0px 0px #E0B300;
		-webkit-stroke-width: 0px;
   -webkit-stroke-color: #E0B300;
   -webkit-fill-color: #E0B300;
	}
	50%{
		text-shadow:0px 0px 40px #E0B300;
		-webkit-stroke-width: 10px;
   -webkit-stroke-color: #E0B300;
   -webkit-fill-color: #E0B300;
	}
	100%{
		text-shadow:0px 0px 0px #E0B300;
		-webkit-stroke-width: 0px;
   -webkit-stroke-color: #E0B300;
   -webkit-fill-color: #E0B300;
	}
}
#gameover{
	position: absolute;
	z-index: 100001;
	display: none;
	color:#4AD9EB;
	font-size: 100px;
	text-shadow: 0px 0px 50px #4AD9EB;
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top:20%;
	top:0px;
	left:0px;
}
#youwin{
	position: absolute;
	z-index: 100001;
	display: none;
	color:#4AD9EB;
	font-size: 100px;
	text-shadow: 0px 0px 50px #4AD9EB;
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top:20%;
	top:0px;
	left:0px;
}
.loading{
	position: absolute;
	z-index: 100001;
	display: none;
	color:#4AD9EB;
	font-size: 100px;
	text-shadow: 0px 0px 50px #4AD9EB;
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top:20%;
	top:0px;
	left:0px;
}
