@font-face {
    font-weight: normal;
    font-style: normal;
    font-family:'ds';
    src: url('./DeadSpace.eot');
    src: url('./DeadSpace.eot?#iefix') format('embedded-opentype'), url('./DeadSpace.ttf') format('truetype');
}
body {
	overflow: hidden;
	margin:0 ;
	padding: 0;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}
#mainFrame{
	position: absolute;
	width:100%;
	height: 100%;
	background:yellow;
}
.players{
	position:absolute;
	top:0;
	left:0;
	width:100px;
	color : green;
}

.overlay{
	position: absolute;
	z-index: 100;
	width:100%;
	background: none;
	text-align: center;
}
.overlay .level{
	list-style: none;
}
.ath{
	position: absolute;
	bottom: 0;
	z-index: 10000;
	width: 100%;
}
.ath .values {
	position: relative;
}
.ath .athlife{
	position: absolute;
	right:20px;
	bottom: 10px;
	float: right;
}


.ath .athammo{
	position: absolute;
	bottom: 20px;
	left:20px;
	float: left;
	color:rgba(59,238,255,.9);
}
.ath font{
	font-size: 30px;
	font-family: Helvetica;
}
.ath .athammo font{
		box-shadow: 0 1px 0px 0 rgba(59,238,255,.2);

}



.ath .athlife progress {
	display: block;
	margin: 20px auto;
	width: 400px;
	height: 14px;
	border: none;
	/* Important Thing */
	-webkit-appearance: none;
}
.ath .athlife font{
	position: absolute;
	right: 0;
	bottom: 40px;
	float:right;
	color :rgba(59,238,255,.9);
}
/* All good till now. Now we'll style the background */
.ath .athlife progress::-webkit-progress-bar {
	padding: 4px;
	height: 20px;
	border : 1px solid rgba(59,238,255,.2);
	border-radius: 6px;
	background: rgba(59,238,255,.2);
	box-shadow: 0 1px 0px 0 rgba(59,238,255,.2);
}

/* Now the value part */
.ath .athlife progress::-webkit-progress-value {
	border-radius: 6px;
	background:rgba(59,238,255,.9);
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
}
#blocker{
	position: absolute;
	z-index: 10000;
	display: :none;
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,.5);
	text-align: center;
}
#blocker.hidden{
	background:none;
}
.reticule{
	display: inline-block;
	margin-top:25%;
	width: 18px;
	height:18px;
	border:1px  solid #4EDCEE;
	border-radius: 100%;
	background:rgba(0,0,0,.1);
	color:#4EDCEE;
	text-align: center;
	text-shadow: 0px 0px 5px black;
	font-size: 16px;
	line-height: 16px;
}

.menu{
	position: absolute;
	top:42%;
	left: 45%;
	z-index: 100000000000;
	padding:20px;
	background:#4EDCEE;
}
.menu ul li a{

	background:navy;
	color:yellow;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'ds';
}
#game-opt {
	position: absolute;
	top:0;
	left:0;
	z-index: 100000;
	width: 100%;
	height: 100%;
	background: #0A172B;
}

#game-opt .container {
	margin-top:50px;
}

#game-opt .container h1{
	color:#4BD9EC;
	text-shadow:0px 0px 0px #4BD9EC;
	font-size: 80px;
	-webkit-animation:  glow 3s 0s linear infinite;
}
.btn{

	font-family: 'ds';
	font-size: 20px;
}
@-webkit-keyframes glow {
0% {
   text-shadow: 1px 0px 0px #4BD9EC;
	-webkit-stroke-width: 0px;
   -webkit-stroke-color: #4BD9EC;
   -webkit-fill-color: #4BD9EC;
}
50% {
   text-shadow: 1px 0px 40px #4BD9EC;
-webkit-stroke-width: 5.3px;
   -webkit-stroke-color: #4BD9EC;
   -webkit-fill-color: #4BD9EC;
 }
 100%{
   text-shadow: 1px 0px 0px #4BD9EC;
	-webkit-stroke-width: 0px;
   -webkit-stroke-color: #4BD9EC;
   -webkit-fill-color: #4BD9EC;
}
}
.modal-dialog, .modal-content{
	border-radius:6px;
	background: #232B3C;
}
.modal-header,.modal-footer{
	border:0;
}
.modal-content{
	background: none;
}
.modal-dialog h4{
	color: white;
	font-size:20px;
}
